
<div class="container-fluid">
    <div class="d-flex">
        <div data-name="b-title">My Project</div>
        <div data-name="b-visibility">Private</div>
        <div data-name="b-filter"><i class="fa fa-filter"></i> Filter</div>
        <div data-name="b-partage"><i class="fa fa-user-plus"></i> Partager</div>
        <div data-name="b-option"><i class="fa fa-ellipsis-h"></i></div>
    </div>
</div>

<div class="content-wrapper kanban bg-transparent" style="margin:0 !important;">
    <section class="content">
        <div class="container-fluid h-100 bg-transparent" style="margin:0 !important;align-items: flex-start !important;">
            <div class="card card-row card-secondary sort" id="state1">
                <div>

                    <div class="card-header">
                        <h3 class="card-title">
                            Backlog
                        </h3>
                    </div>
                    <div class="card-body" id="sort1">
                        <div class="card card-info card-outline">
                            <div class="card-header" card-id="1" data-toggle="modal" data-target="#modal-card">
                                <h5 class="card-title">Create Labels</h5>
                                <div class="card-tools">
                                    <a href="#" class="btn btn-tool btn-link">#3</a>
                                    <a href="#" class="btn btn-tool">
                                        <i class="fas fa-pen"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="customCheckbox1" disabled="">
                                    <label for="customCheckbox1" class="custom-control-label">Bug</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="customCheckbox2" disabled="">
                                    <label for="customCheckbox2" class="custom-control-label">Feature</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="customCheckbox3" disabled="">
                                    <label for="customCheckbox3" class="custom-control-label">Enhancement</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="customCheckbox4" disabled="">
                                    <label for="customCheckbox4" class="custom-control-label">Documentation</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="customCheckbox5" disabled="">
                                    <label for="customCheckbox5" class="custom-control-label">Examples</label>
                                </div>
                            </div>
                        </div>
                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <h5 class="card-title">Create Issue template</h5>
                                <div class="card-tools">
                                    <a href="#" class="btn btn-tool btn-link">#4</a>
                                    <a href="#" class="btn btn-tool">
                                        <i class="fas fa-pen"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="customCheckbox1_1" disabled="">
                                    <label for="customCheckbox1_1" class="custom-control-label">Bug Report</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="customCheckbox1_2" disabled="">
                                    <label for="customCheckbox1_2" class="custom-control-label">Feature Request</label>
                                </div>
                            </div>
                        </div>
                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <h5 class="card-title">Create PR template</h5>
                                <div class="card-tools">
                                    <a href="#" class="btn btn-tool btn-link">#6</a>
                                    <a href="#" class="btn btn-tool">
                                        <i class="fas fa-pen"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card card-light card-outline">
                            <div class="card-header">
                                <h5 class="card-title">Create Actions</h5>
                                <div class="card-tools">
                                    <a href="#" class="btn btn-tool btn-link">#7</a>
                                    <a href="#" class="btn btn-tool">
                                        <i class="fas fa-pen"></i>
                                    </a>
                                </div>

                            </div>
                            <div class="card-body">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                    Aenean commodo ligula eget dolor. Aenean massa.
                                    Cum sociis natoque penatibus et magnis dis parturient montes,
                                    nascetur ridiculus mus.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-row card-primary sort" id="state2">
                <div>
                    <div class="card-header">
                        <h3 class="card-title">
                            To Do
                        </h3>
                    </div>
                    <div class="card-body" id="sort2">
                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <h5 class="card-title">Create first milestone</h5>
                                <div class="card-tools">
                                    <a href="#" class="btn btn-tool btn-link">#5</a>
                                    <a href="#" class="btn btn-tool">
                                        <i class="fas fa-pen"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <h5 class="card-title">Create first milestone</h5>
                                <div class="card-tools">
                                    <a href="#" class="btn btn-tool btn-link">#5</a>
                                    <a href="#" class="btn btn-tool">
                                        <i class="fas fa-pen"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-row card-default sort">
                <div class="card-header bg-info">
                    <h3 class="card-title">
                        In Progress
                    </h3>
                </div>
                <div class="card-body">
                    <div class="card card-light card-outline">
                        <div class="card-header">
                            <h5 class="card-title">Update Readme</h5>
                            <div class="card-tools">
                                <a href="#" class="btn btn-tool btn-link">#2</a>
                                <a href="#" class="btn btn-tool">
                                    <i class="fas fa-pen"></i>
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                Aenean commodo ligula eget dolor. Aenean massa.
                                Cum sociis natoque penatibus et magnis dis parturient montes,
                                nascetur ridiculus mus.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-row card-success sort">
                <div class="card-header">
                    <h3 class="card-title">
                        Done
                    </h3>
                </div>
                <div class="card-body">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h5 class="card-title">Create repo</h5>
                            <div class="card-tools">
                                <a href="#" class="btn btn-tool btn-link">#1</a>
                                <a href="#" class="btn btn-tool">
                                    <i class="fas fa-pen"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-row card-transparent" id="state-bg">
                <div class="card-header" id="state-plus">
                    <h3 class="card-title">
                        <i class="fa fa-plus"></i> Ajouter une Liste
                    </h3>
                </div>
                <div id="state-add">
                    <div class="card-header inputAddList">
                        <input type="text" class="card-title form-control" placeholder="Saisissez le titre de la liste..." />
                    </div>
                    <div class="card-body row">
                        <div class="btn btn-primary col-6 ml-1">Ajouter une liste</div>
                        <i class="fa fa-times col-2 cancelList" id="state-cancel"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>



<partial name="~/Views/Utils/CardModal.cshtml" />

<script src="~/lib/sortablejs/sortable.js"></script>

<script src="~/js/state.js"></script>
<script src="~/js/card.js"></script>