@{
    ViewData["Controller"] = "Espaces de Travail";
}

<div id="workspace-list">
    <div class="form-group mb-3">
        <div class="row">
            <div class="input-group col-sm-7"></div>
            <div class="input-group col-sm-5">
                <input type="text" class="form-control" id="w-search" placeholder="Rechercher...">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                </div>
            </div>
        </div>
    </div>

    <div id="w-list" class="row">
    
        <div class="col-lg-3 col-6" style="cursor:pointer" data-toggle="modal" data-target="#modal-workspace" workspace-new>
            <div class="small-box small-box2 wsbg-create">
                <div class="inner">
                    <h5 class="w-name text-bold text-gray">Créer un espace de travail</h5>
                    <div class="icon">
                        <i class="fa fa-plus"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/js/workspace.js"></script>
@*<script src="~/js/board.js"></script>*@